@import "normalize";
@import "./variables";
@import "./components/all";

@mixin _600 {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin _800 {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin title {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 100px;

  @include _600 {
    font-size: 28px
  };
}


@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 50px 0;
}

.header {
  display: block;
  &__top {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    .logo {
      height: 100%;
    }

    .social {
      a {
        margin-left: 5px;
      }
    }
  }

  &__main {
    position: relative;
    height: 660px;
    background: -webkit-linear-gradient($red, $black);
    text-align: center;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    & > * {
      position: relative;
      z-index: 2;
    }

    &-bg {
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("../assets/img/main.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 70%;
      opacity: 0.3;
      z-index: 1;
    }

    h1.title {
      color: $white;
      font-size: 50px;
      padding-top: 50px;
    }
    h2.title {
      font-size: 30px;
      letter-spacing: 2.5px;
    }
  }
}

#info {
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
  padding: 45px 0;

  h1 {
    text-transform: uppercase;
    color: $red;
    line-height: 1.23;
    margin-bottom: 40px;
  }

  p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;

    span {
      color: $red;
    }
  }
}

#committee {
  .wrapper {
    h1 {
      @include title;
    }
    .committee-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 360px));
      justify-content: center;
      justify-items: center;
      column-gap: 30px;
      row-gap: 100px;
    }
  }
}

#sections {
  .wrapper {
    @include flex-column-center();
  }

  h1 {
    @include title;
    color: $red;
  }

  .sections__block {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    justify-content: center;
    justify-items: center;

    h2 {
      line-height: 1.35;

      @include _800() {
        font-size: 20px
      }
    }

    .designation {
      @include flex-column-center();
      grid-column: 2/3;
      min-height: 150px;
      @include _800() {
        height: 100%;
      }

      .number {
        min-height: 50px;
        min-width: 50px;
        font-size: 24px;
        color: $white;
        background: $red;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        border-radius: 50%;
      }

      .line {
        width: 2px;
        height: 100%;
        background: $red;
      }
    }
  }
}

#deadline {
  .wrapper {
    @include flex-column-center();
    h1 {
      @include title;
    }
    .container {
      max-width: 700px;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      .calendar {
        min-width: 20px;
        max-width: 80px;
        fill: $red;
      }

      .left-side {
        margin-left: 20px;
        max-width: 600px;
        margin-bottom: 50px;
        h4 {
          font-size: 20px;
          margin-bottom: 20px;
        }
        p {
          font-weight: 300;
          font-size: 18px;
          line-height: 1.55;
          a {
            color: $red;
          }
          span.bold {
            font-weight: 600;
          }
          span.red {
            color: $red;
          }
        }
      }
    }
  }
}

#requirements {
  .wrapper {
    padding: 0 12vw;
    font-size: 18px;
    font-weight: 300;

    h1 {
      @include title();
    }
    p {
      line-height: 1.55;
    }

    .theses {
      margin-top: 100px;
      ol > li {
        margin-bottom: 20px;
      }
      ul {
        margin-top: 20px;
        margin-left: 20px;
        li {
          margin-bottom: 5px;
        }
      }
    }
  }
}

#past-conferences {
  h1 {
    @include title();
  }
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 30px;
    .conference-item {
      display: flex;
      align-items: flex-start;
      .number {
        font-size: 22px;
        font-weight: 600;
        min-height: 50px;
        min-width: 50px;
        background: $black_10;
        display: grid;
        place-items: center;
        border-radius: 50%;
      }
      .content {
        margin-left: 20px;
        h2 {
          margin-bottom: 20px;
        }
        p {
          letter-spacing: 1.5px;
          font-weight: 300;
          color: $red;
          text-transform: uppercase;
          line-height: 1.7;
        }
      }
    }
  }
}

#contacts {
  text-align: center;
  h1 {
    @include title()
  }
  p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.7;
    a {
      color: $red;
    }
  }
}